.desktopIcon {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    color:rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;

    .icon {
        font-size: 5rem;
        margin: 1rem;
    }

    .name {
        padding: 0.2rem;
        border-radius: 3px;
    }
}

@media (max-width: 600px) {
    .desktopIcon {
        font-size: 1rem;
        .icon {
            font-size: 3rem;
        }
    }
}

.desktopIcon:active, .desktopIcon.active {
    text-shadow: none;
    .name {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0.2rem;
        border-radius: 3px;
    }
}
